    body {background-image: url(./710MmLkIxZL._AC_UF894\,1000_QL80_.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #2a2929;
      color: #333;
      
    }

 


    header {
      background-color: #4CAF50;
      color: white;
      padding: 2rem;
      text-align: center;
    }

    header h1 {
      margin: 0;
      font-size: 2.5rem;
    }

    nav {
      background-color: #388e3c;
      padding: 1rem;
      text-align: center;
    }

    nav a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
    }
    .Search{
      width: 100%;
      max-width: 1500px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color:#fcfbfb; ;
      color: #040404;
      box-sizing: border-box;
      padding: 6px 18px;
      height: 30px;
      margin-top: 10px;

    }
    .search-container{
      display: flex;
      justify-content: center;
      margin: 0px;
     


    }
    .Search:hover{
    
    border-color: #2196f3;    
    }
    
    

    section {
      padding: 2rem;
      font-size: large;
      
      
    }

    .about, .products, .contact {
      max-width: 900px;
      margin: auto;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
    }

    .product-card {
      border: 1px solid #125e24;
      padding: 1rem;
      border-radius: 8px;
      text-align: center;
      box-shadow: 4px 4px 16px rgba(255, 253, 253, 0.1);
      background-color: #4CAF50;
      color: white;
      box-sizing: content-box;
      transition: all 0.2s ease;
    }
    .product-card:hover{
     
      transform: translatey(-20px);
      box-shadow: 0 8px 12px rgb(90, 89, 89);
  
      cursor: pointer;
      color: greenyellow;
    }
    .product-card a{
      text-decoration: none;
      color: #e9e9e9;
    }
    .product-card a:hover{
      text-decoration: dashed;
      color: greenyellow;
    }

    footer {
      background-color: #2e7d32;
      color: white;
      text-align: center;
      padding: 1rem;
    }
    @media (max-width: 768px) {

  .topnav a {
    font-size: 12px;
  }

    }
  @media  (max-width: 768px){
      .Search{
        max-width: 	90%;
      }
    }
  