    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../image/cutlery%20set.jpeg') ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: blur(6px);
      z-index: -1;}

    body{
      min-height: 100vh;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background-color: none;
      color: #333;
      
    }
    
 


    header {
      background-color: #4CAF50;
      color: white;
      padding: 2rem;
      text-align: center;
      text-shadow: 2px 4px 8px black;
    }

    header h1 {
      margin: 0;
      font-size: 2.5rem;
        text-shadow: 2px 4px 8px black;
    }

    nav {
      background-color: #388e3c;
      padding: 1rem;
      text-align: center;
    }

    nav a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
    }
    .Search{
      width: 100%;
      max-width: 1500px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color:#fcfbfb; ;
      color: #040404;
      box-sizing: border-box;
      padding: 6px 18px;
      height: 30px;
      margin-top: 10px;

    }
    .search-container{
      display: flex;
      justify-content: center;
      margin: 0px;
     


    }
    .Search:hover{
    
    border-color: #2196f3;    
    }
    
    

    section {
      padding: 2rem;
      font-size: large;
      margin: auto;
      
      
    }

    .about, .products, .contact {
      max-width: 900px;
      margin: auto;
    }
    .contact{
      margin-top: 0px;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      margin-bottom: 0px;
    }

    .product-card {
    
      padding: 1rem;
      border-radius: 8px;
      text-align: center;
      box-shadow: 4px 4px 16px rgba(255, 253, 253, 0.1);
      background-color: #4CAF50;
      color: white;
      box-sizing: content-box;
      transition: all 0.2s ease;
    }
    .product-card:hover{
     
      transform: translatey(-20px);
      box-shadow: 0 8px 12px rgb(90, 89, 89);
  
      cursor: pointer;
      color: greenyellow;
    }
    .product-card a{
      text-decoration: none;
      color: #040404;
      text-shadow: 2px 4px 8px #f9f4f4;
    }
    .product-card a:hover{
      text-decoration: dashed;
      color: greenyellow;
    }
    .product-card p{
      text-shadow: 2px 4px 8px #040404;
      font-weight: 600;
    }
    .product-card button{
      border-radius: 12px;
      background-color: #077213;
      color: white;
      margin-top: 20px;
      vertical-align: bottom;
      height: 40px;
      box-shadow: 2px 4px 12px rgba(255, 253, 253, 0.1);
      border: 1px solid white;
      cursor: pointer;
      
    }
    .product-card button a{
      color: #fbfefb;
      font-weight: 300;
    }
    .product-card button:hover{
      background-color: #aefcae;
      box-shadow: 2px 4px 12px rgba(12, 12, 12, 0.1);
      color: #f9f7f7;
      cursor: pointer;
      
    }
    .about h2{
        text-shadow: 2px 4px 8px white;}
    .about p{
        text-shadow: 2px 4px 8px black;
    }

    .Spoon{
      background-image: url(../image/Spoon.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .Fork{
      background-image: url(../image/fork2.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

    }
    .Bowl{
      background-image: url(../image/bowl.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    footer {
      background-color: #2e7d32;
      color: white;
      text-align: center;
      padding: 1rem;
    }
    @media (max-width: 768px) {

  .topnav a {
    font-size: 12px;
  }
  .topnav input[type=text]{
    float: none;
    width: 90%;
    margin: 10px;

  }
  .h1{
    font-size: 24px;
  }
  .h2{
    font-size: 22px;
  }
  .h3{
    font-size: 18px;
  }
  .p{
    font-size: 14px;
  }

    }
  @media  (max-width: 768px){
      .Search{
        max-width: 	90%;
      }
    }
  
