    body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    color: white;
    line-height: 1.6;
      
    }
    .topnav {overflow : hidden ; background-color : #e9e9e9 ; vertical-align: top;}
    .topnav a{float: left;display: block;color: black;text-align: center;padding: 14px 16px;text-decoration: dashed;font-size: 17px;}
    .topnav a:hover {background-color: #ddd;color: black;}
    .topnav a.active {background-color: #2196f3;color: #e9e9e9;}
    .topnav input[type=text]{float : right;  padding: 6px;margin-top: 8px;margin-right: 16px;font-size: 17px}
    header{
    text-align: center;
    color: #fafafa;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(14, 105, 14);
    }
    .product-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      gap: 20px;
      padding: 10px;


    }
    .product-card{
      box-sizing: content-box;
      border: 1px solid;
      padding: 20px;
      text-align: center;
      background-color: #2f2f2f;
      margin: 10px;
     
 


    }
    .product-card img{
      width: 100%;
      height: 100%;
      max-width: 300px;
      max-height: 200px;
      object-fit: cover;
      margin-bottom: 10px;

    }
    .product-card button{
    background: #4caf50;
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
      
    }

    .product-card button:hover{
    background: #89ff77;
    color: #fefdfd;
    }
   
    footer{
      margin-top: 30px;
    background-color: #92b48d;
    }
    a{
    color: white;
    text-decoration: none;
    font-size: large;
    }
    button{ background-color: #4caf50;}
    .h2,.h3,.p{
    color: white;
    background-color: #06fa0e;
    margin-bottom: 10px;
    }
    .h2{
    background-color: #06fa0e;
    padding: 10px;
    }
    .btn{
      border-radius: 8px;
    }
    .btn:hover{
    background: rgb(9, 250, 5)
      
    }	
    .Search{
      width: 100%;
      max-width: 1500px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color:#575757; ;
      color: #fafafa;
      box-sizing: border-box;
      padding: 6px 18px;
      height: 30px;

    }
    .search-container{
      display: flex;
      justify-content: center;
      margin: 10px;


    }
    .Search:hover{
    border-color: #2196f3;    
    }
    .shd-btn{
    border-radius: 8px;
    padding: 10px;
    height: 35px;
    }
    .shd-btn:hover{
    background-color: #81fd89;
    cursor: pointer;
    }
    .hov:hover{
      background: #f7f5f5;
      color: #2f2f2f;
    }
    .section{
      display: inline;
      background-color: none;
    }
    .section button{
      margin-left: 10px;
      background-color: #2f2f2f;border-color: #e9e9e9;color: white;border-width: 1px;border-style: solid;
      border-radius: 8px;
    }
    .section button:hover{
    background-color: #afd5a9;
    color: #fafafa;

    }
    .product-card button:hover:active{
    background-color: #afd5a9;
    color: #fafafa;
    }
    .btn1{
      background-color: rgb(3, 96, 3);
      border-radius: 8px;
      margin-top: 5px;
      color: #f7f5f5;

    }
    .btn1:hover{
      background-color: #89ff77;
      color: #f7f5f5;
    }
    .add-cart{
      background-color: #2f2f2f;border-color: #e9e9e9;color: white;border-width: 1px;border-style: solid;
    }
    .add-cart:hover{
      background-color: #575757;
    }
    @media  (max-width: 768px){
      .Search{
        max-width: 	90%;
      }
    }
   @media {max-width: 200px}{
      .product-card{
        max-width: 90%;
      }
    }
      
